.App {
  height: 100vh;
  width: 100vw;
}
.layout-middle {
  height: 100%;
  width: 100%;
  display: flex;
}

.layout-mid-left {
  overflow: hidden;
  overflow-y: scroll;
}

.layout-mid-left::-webkit-scrollbar {
  display: none;
}
