@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #f3f4f6;
  --sec-light: #9ca3af;
  --text-light: #001219;
  --dark: #001219;
  --sec-dark: #1e293b;
  --text-dark: #fff;
}
